<h1> Book a new appointment </h1> 

<%= form_for(@appointment) do |f| %>
    Choose your stylist: <br> 
    <%= f.collection_select :employee_id, Employee.all, :id, :name %> <br> 
    <%= f.datetime_select :time %> 
    <%= f.submit "Book Appointment" %> 
<% end %> 